name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '**'


jobs:
  run_tests:
    name: tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]  # Add macos-latest later?
        python-version: ['3.11', '3.12']
        toxenv: ["django52", "package", "quality"]
        mysql-version: ["8"]
    services:
      mysql:
        image: mysql:${{ matrix.mysql-version }}
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: "test_oel_db"
          MYSQL_USER: "test_oel_user"
          MYSQL_PASSWORD: "test_oel_pass"
          MYSQL_RANDOM_ROOT_PASSWORD: true
        # these options are blatantly copied from edx-platform's values
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3
    steps:
      - uses: actions/checkout@v6
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pip
        run: pip install -r requirements/pip.txt

      - name: Install Dependencies
        run: pip install -r requirements/ci.txt

      - name: Run Tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox -e ${{ matrix.toxenv }}

